<main class="Contenedor_Principal">
  <section class="Menu_Opciones">
    <div class="conjunto_botones">
      <button class="Escoger1" (click)="getHours()">Escoger Array 1</button>

      <button class="Escoger2" (click)="getSize()">Escoger Array 2</button>
    </div>
  </section>

  <section class="Pantalla_Informacion">
    <div class="opciones_Botones">
      <button (click)="calcularMedia(array_elegido)">Calcular Media</button>
      <button (click)="calcularDesviacion(array_elegido)">Calcular Desviación</button>
    </div>

    <div class="opciones_Resultados">
      <div class="opcion_Resultado">
        <h3>Media</h3>
        <p>Resultado {{resultado}} </p>
      </div>

      <div class="opcion_Resultado">
        <h3>Desviación Estándar</h3>
        <p>Resultado {{resultado2}} </p>
      </div>
    </div>
  </section>

  <section class="Pie_Pagina">
    <div>
      <h3> Array Elegido: </h3>
      <p> {{array_elegido.data}} </p>
    </div>
  </section>
</main>
